html,
body {
    color: #ea5455;

}
  
  .box {
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    margin: 0 auto;

  }

  .form-inline {
      margin: auto 0;
     
      padding-top: 12px;
  }
  
  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotatecube 10s infinite;
    
    -moz-transform-style: preserve-3d;
    -moz-animation: rotatecube 10s infinite;

  }

  img {
      margin: 5px;
  }

  .fixed-action-btn {
      position: relative;
      top: -75px;
      text-align: center;
      color: #FFB400;
  }
  
  #cube div {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    line-height: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  @-webkit-keyframes rotatecube {
    0% { -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
    25% { -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
    50% { -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    75% { -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
    100% { -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
  }
  
  @-moz-keyframes rotatecube {
    0% { -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
    25% { -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
    50% { -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    75% { -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
    100% { -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
  }

  img {
    -webkit-filter: invert(1);
    filter: invert(1);
    margin: 10px;

    } 
  
  .front {
    background: #ea5455;

  }
  
  .back {
    background: #ea5455;

  }
  
  .right {
    background: #ea5455;

  }
  
  .left {
    background: #ea5455;
  
  }
  
  .top {
    background: #ea5455;

  }
  
  .bottom {
    background: #ea5455;

  }
  
  #cube .front  {
    -webkit-transform: rotateY(0deg ) translateZ( 75px );
    -moz-transform: rotateY( 0deg ) translateZ( 75px );
  }
  #cube .back {
    -webkit-transform: rotateX( 180deg ) translateZ( 75px );
    -moz-transform: rotateX( 180deg ) translateZ( 75px );
  }
  #cube .right  {
    -webkit-transform: rotateY(  90deg ) translateZ( 75px );
    -moz-transform: rotateY(  90deg ) translateZ( 75px );
  }
  #cube .left   {
    -webkit-transform: rotateY( -90deg ) translateZ( 75px );
    -moz-transform: rotateY( -90deg ) translateZ( 75px );
  }
  #cube .top    {
    -webkit-transform: rotateX(  90deg ) translateZ( 75px );
    -moz-transform: rotateX(  90deg ) translateZ( 75px );
  }
  #cube .bottom {
    -webkit-transform: rotateX( -90deg ) translateZ( 75px );
    -moz-transform: rotateX( -90deg ) translateZ( 75px );
  }

h1 {
    font-size: 65px;
    font-weight: bolder;
    color: white;
    font-family: 'Knewave', cursive;
}

h4 {
    font-weight: bold;
}

.jumbotron {
    text-align: center;
    background-color: #2d4059;

}

.questions {
  text-align: center;
}

p {
    color: #FFB400;
    padding-top: 8px;
    letter-spacing: 2px;
}

.eats {
    color: #FFB400;
}

.title {
    padding-top: 30px;
    font-size: 20px;
    color: black;
}

.e {
    color: #ea5455;
}

label {
    padding-right: 20px;

}
.footer {
    background-color: #2d4059;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}